@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginLogoutButton />

            <div style="width: 20px"/>

            <AuthorizeView>
                <Authorized>
                    
                </Authorized>

                <NotAuthorized>
                    <button @onclick="Register" class="btn btn-primary">Register</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    void Register()
    {
        NavigationManager.NavigateTo("register");
    }
}