@page "/"
@inject NavigationManager NavigationManager

<PageTitle>GayBE</PageTitle>

<MudDrawer @bind-Open="@open" Elevation="1" ClipMode="@DrawerClipMode.Docked">

    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Фильтры</MudText>
    </MudDrawerHeader>
    
    <MudTextField T="string"></MudTextField>

</MudDrawer>

<MudContainer>

    <h1>Hello, world!</h1>

    Welcome to your new app.


    <AuthorizeView>
        <MudText>U're a Authorized</MudText>
    </AuthorizeView>

    <AuthorizeView Roles="Buyer">
        <MudText>U're a Buyer</MudText>
    </AuthorizeView>


    <AuthorizeView Roles="Seller">
        <MudText>U're a Seller</MudText>
    </AuthorizeView>

    <AuthorizeView Roles="Buyer, Seller">
        <MudText>U're a CRACKED</MudText>
    </AuthorizeView>
</MudContainer>


@code {
    string showresult = "empty";

    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }
}